html,
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 10px;
}

.retry-button{
  cursor: pointer;
  display: block;
  width: 120px;
  height: 40px;
  margin: 150px auto;
  background-color:  #031b96;
  border: none;
  color: #fff;
  @include border-radius(5px);
}